/* CSS Document 清除样式 */
@charset "utf-8";
* {padding:0; margin:0;}
html, body{background:#c0c0c0;margin: 0;padding: 0;width: 100%;height: 100%;min-height: 100%;font-family: "宋体" ,Helvetica, Arial, sans-serif;
font-size: 16px;line-height: 1.231;-webkit-touch-callout: none;display: -webkit-box;-webkit-box-orient: vertical;-webkit-box-align:stretch;position: relative;}
a {text-decoration:none;outline:none;color:#777777;font-size: 14px;}
a:hover{text-decoration:none;color: #004ea6;}
.clearBoth{clear:both;height:0;}
ul,li {list-style:none;}
img {border:none;}